img {
  image-rendering: pixelated;
}

body {
}

form.ui.form.login-form {
  padding: 55px;
  /*background-color: #EDC2C4;*/
  background-color: white;
}

.sign-in-title {
  font-size: 130px;
}

.collection-search {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 100px;
  text-align: left;
  /*background-color: #EDC2C4;*/
  /*background-color: #CCB7E2; darker purple */
  /*background-color: #D2C3E2; */
  background-color: white;

  opacity: .9;
}

h5.step-1 {
  color: white;
}

h5.step-2 {
  color: white;
}

h1.title {
  font-family: 'Scada', sans-serif;
  font-size: 100px;
  padding-left: 20px;
  padding-top: 8px;
  color: white;
  text-shadow: 4px 4px 2px pink;
  /*opacity: .98;*/
  /*background-color: white;*/
  /*background-color: #EDC2C4*/
}

.collection-input-form {

  padding-left: 20px;

}

h3.collection-form-title {
  color: white;
  text-shadow: 1px 1px 2px red;
}

.menu {
  padding: 8px;
  padding-top: 5px;
  padding-bottom: 150px;
  height: 40px;
  opacity: .95;
  background-color: inherit;
  /*background-color: #EDC2C4;*/
}

a.item.home-link {
  color: white
}

.App {
  text-align: left;
  font-family: 'Scada', sans-serif;
  /*background-color: #D8FFE9;*/
  background: linear-gradient(to right, #ED4264 , #FFEDBC);
  /*background-image: url("../src/images/wardrobe-background.png");*/
  min-height: 1650px;
  background-color: #FFFDFC;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;

}

.App-header2 {
  height: 10px;
  padding: 30px;
  color: black;
  font-family: 'Scada', sans-serif;
}


.App-intro {
  font-size: large;
  font-family: 'Scada', sans-serif;
}

.App-Body {
  /*padding: 10px;*/
  padding-top: 200px;
  /*background-color: #EDC2C4;*/

}


.upload-form {
  padding-top: 20px;
  height: 70px;
  padding-bottom: 190px;
  padding-left: 20px;
  padding-right: 20px;
  /*background-color: #989DD3;*/
  /*background-color: #EDC2C4; / mauve pink*/
  background-color: #FFFDFC;
  opacity: .90;
}

.upload-title {
  color: white;
  text-shadow: 1px 1px 2px red;

}

.popup {
  color: red;
}

.no-item {
  color: white;
  font-weight: bolder;
}

.closet-item {
  width: 200px;
  height: 240px;
  position: absolute;
}

.photo {
  position: relative;
  padding: 20px;

}

.polaroid {
  width: 220px;
  height: 260px;
  position: relative;
  background-size: contain;
  background-image:  url("../src/images/polaroid.png");
}

.delete-button {
  position: absolute;
  bottom: -220px;
  left: 55px;
}

.search-form {
  padding-bottom: 40px;
  padding-left: 20px;
  padding-top: 20px;
  height: 150px;
  font-weight: 300;
  /*background-color: #D8FFE9; green */
  /*background-color: #EDC2C4;*/
  background-color: white;
  opacity: 0.9;
}

h3.search-form-title {
  color: white;
  text-shadow: 1px 1px 2px red;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-logo {
  animation: App-logo-spin infinite 210s linear;
  height: 100px;
}
