img {
  image-rendering: pixelated;
}

body {
}

.collection-search {
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 20px;
  text-align: center;
  background-color: #EDC2C4;
}

h2.collection-form-title {
  color: yellow;
}

.menu {
  padding: 8px;
  padding-top: 10px;
  padding-bottom: 130px;
  height: 40px;
  color: yellow;
  background-color: #EDC2C4;
}

.App {
  text-align: left;
  font-family: 'Scada', sans-serif;
  background-color: white;
  background-image: url("../src/images/wardrobe-background.png");
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.App-header2 {
  height: 10px;
  padding: 30px;
  color: black;
  font-family: 'Scada', sans-serif;
}

h1.title {
  font-family: 'Scada', sans-serif;
  font-size: 290px;
  padding-left: 20px;
  padding-top: 30px;
  color: white;
  opacity: 90%;
  /*background-color: white;*/
  /*background-color: #EDC2C4*/
}

.App-intro {
  font-size: large;
  font-family: 'Scada', sans-serif;
}

.App-Body {
  /*padding: 10px;*/
  padding-top: 400px;
  /*background-color: #EDC2C4;*/

}

.upload-form {
  padding-top: 50px;
  height: 80px;
  padding-bottom: 250px;
  padding-left: 20px;
  padding-right: 20px;
  /*background-color: #EDC2C4;*/
  background-color: white;
}

.photo {
  position: relative;
  padding: 20px;

}

.no-item {
  color: white;
  font-weight: bolder;
}

.closet-item {
  width: 200px;
  height: 240px;
  position: absolute;
}

.polaroid {
  width: 220px;
  height: 260px;
  position: relative;
  background-size: contain;
  background-image:  url("../src/images/polaroid.png");
}

.delete-button {
  position: absolute;
  bottom: -220px;
  left: 55px;
}

.search-form {
  padding-bottom: 20px;
  padding-left: 20px;
  padding-top: 20px;
  height: 110px;
  font-weight: 300;
  background-color: white;
  background-color: #EDC2C4;
}

h2.search-form-title {
  color: yellow;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-logo {
  animation: App-logo-spin infinite 210s linear;
  height: 100px;
}
