img {
  image-rendering: pixelated;
}

.collection-search {
  padding: 15px;
}

.App-logo {
  animation: App-logo-spin infinite 210s linear;
  height: 100px;
}

.App {
  text-align: left;
  font-family: 'Scada', sans-serif;
}

.menu {
  padding: 8px;
}

.App-header2 {
  height: 80px;
  padding: 15px;
  color: black;
  font-family: 'Scada', sans-serif;
  font-size: 200%;
}

.App-intro {
  font-size: large;
  font-family: 'Scada', sans-serif;
}

.App-Body {
  padding: 10px;
}

.upload-form {
  padding-top: 50px;
  height: 80px;
  padding-bottom: 80px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
